/**
 * resistor.scss
 */

html {
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 0.75rem;
  font-family: 'Source Sans Pro', arial, helvetica, verdana, sans-serif;
}

body {
  margin: 0;
  padding: 20px 0 20px 0;
  font-family: 'Source Sans Pro', arial, helvetica, verdana, sans-serif;
}

h1, h2, h3, h4, h5, h6, div, p {
  font-family: 'Source Sans Pro', arial, helvetica, verdana, sans-serif;
}

h1 {
  margin: 0;
  padding: 0 0 10px 0;
}

h3 {
  margin: 0;
  padding: 0;
}

label {
  position: relative;
  display: block;
  font-weight: bold;
}

fieldset {
  border: none;
}

input[type=checkbox] {
  margin: 0;
  padding: 0;
}

#resistor-form div {
  margin: 0;
  padding: 10px 0 10px 0;
  border-top: solid 1px #ededed;
}

#format, #suffix {
  margin-right: 20px;
}

.logo {
  margin: 10px 0 0 0;
  float: right;
}

.bold {
  font-weight: bold;
}

.error {
  font-weight: bold;
  color: #f00;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.inline {
  display: inline;
}

.none {
  display: none;
}

.resistor-file {
  padding: 2px;
  border: solid 1px #ced4da;
  border-radius: 3.6px;
}

.submit-btn {
  float: right;
  display: block;
  width: auto;
}

.code-black {
  color: #fff;
  background-color: #000;
  /* background-color: rgb(0, 0, 0); */
}

.code-brown {
  color: #000;
  background-color: #ad7339;
  /* background-color: rgb(173, 115, 57); */
}

.code-red {
  color: #fff;
  background-color: #de0505;
  /* background-color: rgb(222, 5, 5); */
}

.code-orange {
  color: #000;
  background-color: #f48432;
  /* background-color: rgb(244, 132, 50); */
}

.code-yellow {
  color: #000;
  background-color: #f4e002;
  /* background-color: rgb(244, 224, 2); */
}

.code-green {
  color: #fff;
  background-color: #239f0f;
  /* background-color: rgb(35, 159, 15); */
}

.code-blue {
  color: #fff;
  background-color: #255dc3;
  /* background-color: rgb(37, 93, 195); */
}

.code-violet {
  color: #fff;
  background-color: #a900a7;
  /* background-color: rgb(169, 0, 167); */
}

.code-gray {
  color: #000;
  background-color: #9c9c9c;
  /* background-color: rgb(156, 156, 156); */
}

.code-white {
  color: #000;
  background-color: #fff;
  /* background-color: rgb(255, 255, 255); */
}

.code-gold {
  color: #000;
  background-color: #e3b209;
  /* background-color: rgb(227, 178, 9); */
}

.code-silver {
  color: #000;
  background-color: #cee7e7;
  /* background-color: rgb(206, 231, 231); */
}

.color-guide-table {
  clear: both;
  margin: 25px auto 25px auto;
  padding: 0;
  width: 50%;
  font-size: 0.9em;
  font-weight: bold;
}

.color-guide-table tr {
  margin: 0;
  padding: 0;
}

.color-guide-table th {
  margin: 0;
  padding: 4px;
}

.color-guide-table td {
  margin: 0;
  padding: 4px;
}

@media (max-width: 576px) {
  h1, h3 {
    text-align: center;
  }

  .logo {
    margin: 10px auto 10px auto;
    padding: 0;
    float: none;
    display: block;
  }

  .submit-btn {
    float: none;
    display: block;
    width: 100%;
  }

  .color-guide-table {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    font-size: 0.75em;
  }
}